<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste de Melanona</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/default/defaultStyles.css" />
    <link rel="stylesheet" href="../static/index/indexStyles.css" />
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Teste de Melanoma</h1></a>
    </div>

    <div class="main">
      <div class="main-text">
        <h1>Teste de Melanoma</h1>
        <p>
          Envie uma foto do local que aparenta ser evidência de um sinal
          cancerígeno e aguarde o diagnóstico da IA
        </p>
      </div>
      <div class="aviso">
        <div class="aviso-inner">
          <h2>Aviso importante</h2>
          <h3>
            Esse detector é apenas um teste e apesar de ser bastante preciso,
            <span class="em"
              >não é capaz de entregar um diagnóstico com o resultado
              garantido</span
            >, caso esteja em dúvida sobre algo relacionado ao
            <span class="em">Melanoma</span> (câncer de pele), consulte um
            médico <span class="em">urgentemente</span>.
            <a href="/clinicas">Pesquisar por clínicas</a>
          </h3>
        </div>
      </div>

      <div class="detect-direct">
        <a href="/teste">Começar diagnóstico</a>
      </div>
    </div>
    <div class="footer">
      <a href="https://github.com/lucansdev/melanoma_project"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
  </body>
</html>
