.main-text {
  margin-bottom: 20px;

  h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 64px;
    color: var(--maxBlack);
    font-weight: 6 00;
    position: relative;
    padding-bottom: 10px;
    font-weight: 600;
    cursor: context-menu;
    transition: all ease-in-out 0.2s;

    .ai {
      background: linear-gradient(45deg, var(--maxBlue), var(--medBlue), var(--maxPink) 50%);
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      transition: all ease-in-out 0.2s;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  p {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
    color: var(--darkWhite);
  }
}

.aviso {
  display: flex;
  padding: 20px 60px;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;

  .aviso-inner {
    background: var(--medUpWhite);
    padding: 20px;
    border-radius: 5px;
    border: 3px solid var(--medDownDarkWhite);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 30px;
      text-align: center;
      padding-bottom: 10px;
      font-family: "Raleway", sans-serif;
      color: var(--medBlue)
    }

    h3 {
      font-weight: 200;
      font-size: 20px;
      text-indent: 20px;

      .em {
        font-weight: 400;
        color: var(--medBlue);
      }

      a {
        color: var(--medBlack);
        font-weight: 400;
      }
    }
  }
}

.detect-direct {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  transition: all ease-in-out 0.15s;
  width: 100%;

  a {
    background: var(--medBlue);
    font-size: 24px;
    width: 100%;
    color: var(--maxWhite);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    padding: 20px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.2s;

    &:hover {
      background: var(--maxBlue);
      font-weight: 500;
    }
  }
}

@media (max-width: 992px) {
  .main {
    padding: 80px;
  }

  .aviso {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 80px 40px;
  }

  .main-text {
    h1 {
      font-size: 56px;
    }
  }
}

@media (max-width: 360px) {
  .main-text {
    h1 {
      font-size: 42px;
    }

    p {
      font-size: 20px;
    }
  }

  .detect-direct {
    a {
      font-size: 20px;
    }
  }
}

@media (max-width: 320px) {
  .main {
    padding: 80px 20px;
  }

  .detect-direct {
    a {
      margin: 0 auto;
      width: max-content;
      display: flex;
      flex-flow: column wrap;
    }
  }
}