.main {
  margin: 40px 200px;
  padding: 40px;
  border-radius: 10px;
  border: 3px solid var(--minDownBlack);
  position: relative;
  margin-bottom: 100px;
}

.instructions {
  text-align: center;

  h2 {
    font-size: 44px;
    font-weight: 400;
  }

  p {
    font-size: 22px;
    font-weight: 200;
  }

  .instructions-list {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .instruction {
      display: flex;
      flex-flow: column wrap;
      gap: 20px;
      background: var(--medUpWhite);
      padding: 20px;
      border-radius: 15px;
      border: 3px solid var(--minWhite);
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
      cursor: context-menu;
      transition: all ease-in-out 0.15s;

      i {
        color: var(--minBlack);
        font-size: 22px;
        transition: all ease-in-out 0.15s;
      }

      h3 {
        font-weight: 400;
      }

      &:hover {
        transform: scale(1.02);
        background: var(--medWhite);

        i.fa-camera {
          color: var(--maxBlue);
        }

        i.fa-lightbulb {
          color: var(--medBlue);
        }

        i.fa-expand {
          color: var(--maxPink);
        }
      }
    }
  }
}

.enviar {
  width: 100%;

  .enviar-button {
    display: flex;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    border: 3px dashed var(--minWhite);
    text-align: center;
    transition: all ease-in-out 0.2s;

    i {
      align-content: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 32px;
      color: var(--darkerWhite);
      transition: all ease-in-out 0.2s;

      p {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding: 10px 10px 0 10px;
        transition: all ease-in-out 0.2s;
      }
    }

    input {
      margin: 0 auto;
      height: 200px;
      width: 200px;
      cursor: pointer;
      position: absolute;
      inset: 0;
      opacity: 0;
    }

    &:hover {
      border-color: var(--minBlack);
      background: var(--medUpWhite);
      filter: brightness(95%);

      i {
        color: var(--minBlack);
      }
    }
  }

}

button {
  cursor: pointer;
  display: flex;
  margin: 10px auto;
  margin-top: 40px;
  background: linear-gradient(to right, var(--medBlue), var(--medPink));
  font-size: 24px;
  color: var(--maxWhite);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: 400;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
  filter: brightness(80%);
  border: none;
  transition: all ease-in-out 0.2s;

  &:hover {
    filter: brightness(100%);
    font-weight: 500;
  }
}