.resultado {
  text-align: center;

  h2 {
    font-size: 44px;
    font-weight: 400;
  }

  h3 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 300;
  }

  .result,
  .accuracy {
    color: var(--medBlue);
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
  }
}

.lembrete {
  margin-top: 50px;

  .card {
    margin: 0 150px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background: var(--medUpWhite);
    padding: 20px;
    border-radius: 15px;
    border: 3px solid var(--medBlue);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    cursor: context-menu;

    h3 {
      font-weight: 400;
      text-indent: 10px;
      font-size: 20px;

      .em {
        font-weight: 500;
        color: var(--medBlue)
      }
    }
  }
}

a.clinics {
  display: flex;
  margin: 0 auto;
  width: max-content;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  background: var(--medBlue);
  font-size: 24px;
  color: var(--maxWhite);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: 20px;
  border-radius: 10px;
  font-weight: 400;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.2s;

  &:hover {
    background: var(--maxBlue);
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  .lembrete {
    .card {
      margin: 0 100px;
    }
  }
}

@media (max-width: 992px) {
  .lembrete {
    .card {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .main {
    padding: 80px;
  }
}

@media (max-width: 448px) {
  .main {
    padding: 40px;
  }
}